.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    box-sizing: border-box;
}

.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    border: 10px solid black;
}

.column.one-half {
    width: 50%;
    background-color: red;
    float: left;
}

.column.one-third {
    width: 33.33%;
    background-color: orange;
    float: left;
}

.column.one-fourth {
    width: 25%;
    background-color: yellow;
    float: left;
}

.column.one-sixth {
    width: 16.666667%;
    background-color: green;
    float: left;
}

.column.one-eighth {
    width: 12.5%;
    background-color: blue;
    float: left;
}