h1 {
	font-family: "Times New Roman", times, serif;
	font-weight: bolder;
}

h2 {
	font-family: "Times New Roman", times, serif;
	text-transform: uppercase;
}

h2 .author-1 {
	background-color: red;
	text-decoration: line-through;
}

#poem-text {
	font-family: "Helvetica", sans-serif;
}

.odd-verse {
	text-indent: 50px;
}

.even-verse {
	text-align: right;
}

.read-more {
	font-family: fantasy;
	font-size: 4em;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:visited {
	color: black;
}