/*REMEMBER TO PUT THIS FILE INSIDE YOUR CSS DIRECTORY*/

#test {
	color: red;
}

#page-header {
	color: #00ff00;
	font-family: "comic sans ms", "webdings";
	font-size: 18px;
	font-weight: lighter;
}

.todo-list>h1 {
	text-decoration: underline;
}

.todo-item>a {
	display: block;
	text-indent: 100px;
}

li {
	text-indent: 150px;
	text-align:; right;
}
